{
    "root": true,
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "@nuxtjs/eslint-config-typescript",
        "plugin:nuxt/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [],
    "rules": {
        // "comma-dangle": 0,
        // "semi": 0,
        // "quotes": 0,
        // "eol-last": 0
    }
}