# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example


#本地随手写的文件夹
for-test

# 部署配置文件
.env.deploy
*.pem
*.key
