:root {
  --height-header: 56px;
  background-color: var(--bg-color-page);
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  --font-gray-1: hsla(0, 0%, 0%, 0.9);
  --font-gray-2: hsla(0, 0%, 0%, 0.6);
  --font-gray-3: hsla(0, 0%, 0%, 0.4);
  --font-gray-4: hsla(0, 0%, 0%, 0.26);
  --text-color-link: var(--brand-color);
}
.light {
  --brand-color-1: hsl(220, 100%, 96%);
  --brand-color-2: hsl(220, 100%, 90%);
  --brand-color-3: hsl(220, 100%, 82%);
  --brand-color-4: hsl(220, 100%, 71%);
  --brand-color-5: hsl(207, 96%, 52%);
  --brand-color-6: hsl(207, 100%, 41%);
  --brand-color-7: hsl(207, 100%, 33%);

  --brand-color: var(--brand-color-5);
  --brand-main: var(--brand-color-5);
  --brand-color-light: var(--brand-color-1);
  --brand-color-focus: var(--brand-color-2);
  --brand-color-disabled: var(--brand-color-3);
  --brand-color-hover: var(--brand-color-4);
  --brand-color-active: var(--brand-color-6);

  /* 背景颜色 */
  --bg-color-page: hsl(0, 0%, 100%);
  --bg-color-secondarypage: hsl(0, 0%, 98%);
  --bg-color-code: hsl(0, 0%, 95%);
  --bg-color-footer: hsl(0, 0%, 93%);
  --bg-color-borer: hsl(0, 0%, 91%);
  --bg-color-button: hsl(240, 6%, 10%);


  /* 字体颜色 */
  --font-white-1: hsl(0, 0%, 100%);
  --font-white-2: hsla(0, 0%, 100%, 0.55);
  --font-white-3: hsla(0, 0%, 100%, 0.35);
  --font-white-4: hsla(0, 0%, 100%, 0.22);

  --text-color-primary: var(--font-gray-1);
  --text-color-secondary: var(--font-gray-2);
  --text-color-placeholder: var(--font-gray-3);
  --text-color-disabled: var(--font-gray-4);
  --text-color-foreground: var(--font-white-1);
}
.dark {
  --brand-color-1: hsla(207, 96%, 52%, 0.125);
  --brand-color-2: hsl(207, 100%, 18%);
  --brand-color-3: hsl(207, 100%, 25%);
  --brand-color-4: hsl(207, 100%, 33%);
  --brand-color-5: hsl(207, 100%, 41%);
  --brand-color-6: hsl(207, 96%, 52%);
  --brand-color-7: hsl(220, 100%, 71%);

  --brand-main: var(--brand-color-6);
  --brand-color-light: var(--brand-color-1);
  --brand-color-focus: var(--brand-color-2);
  --brand-color-disabled: var(--brand-color-3);
  --brand-color-hover: var(--brand-color-5);
  --brand-color: var(--brand-color-6);
  --brand-color-active: var(--brand-color-7);

  /* 背景颜色 */
  --bg-color-page: hsl(0, 0%, 14%);
  --bg-color-secondarypage: hsl(0, 0%, 12%);
  --bg-color-code: hsl(0, 0%, 17%);
  --bg-color-footer: hsl(0, 0%, 9%);
  --bg-color-button: hsl(0, 0%, 98%);


  --font-white-1: hsla(0, 0%, 100%, 0.9);
  --font-white-2: hsla(0, 0%, 100%, 0.55);
  --font-white-3: hsla(0, 0%, 100%, 0.35);
  --font-white-4: hsla(0, 0%, 100%, 0.22);

  --text-color-primary: var(--font-white-1);
  --text-color-secondary: var(--font-white-2);
  --text-color-placeholder: var(--font-white-3);
  --text-color-disabled: var(--font-white-4);
  --text-color-foreground: var(--font-gray-1);
}
